[Unit]
Description=Webservice application gunicorn instance
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/var/www/webservice
Environment="PATH=<PATH_TO_YOUR_PYTHON_OR_ENV_FOLDER>"
ExecStart=<PATH_TO_YOUR_PYTHON_OR_ENV_FOLDER>/gunicorn \
 -u root \
 -w 3 \
 -b unix:app.sock \
 --log-file /var/log/webservice/webservice.log --log-level=DEBUG \
 --timeout 300 \
 main:app

[Install]
WantedBy=multi-user.target